<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isGuest">
        <a mat-list-item [routerLink]="['/login']">Log in</a>
        <a mat-list-item [routerLink]="['/sign-up']">Sign up</a>
      </div>
      <div *ngIf="!isGuest">
        <a mat-list-item [routerLink]="['/todos']">Todos</a>
        <a mat-list-item (click)="doLogout()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
      <button mat-button routerLink="{{isGuest ? '/' : '/dashboard'}}">
        <mat-icon aria-hidden="false" aria-label="homepage">view_agenda</mat-icon>
        todarch
      </button>
      <div *ngIf="!isGuest">
      </div>
      <span class="example-spacer"></span>
      <div *ngIf="isGuest">
        <a mat-button [routerLink]="['/login']">Log in</a>
        <a mat-button color="accent" [routerLink]="['/sign-up']">Sign up</a>
      </div>
      <div *ngIf="!isGuest">
        <button mat-button routerLink="/todos/new">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Create New Todo">add</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
          Profile
          <mat-icon aria-label="Profile options">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item (click)="doLogout()">Log out</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
